* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: hsl(0, 0%, 93%);
  display: flex;
  height: 100vh;
  width: 100%;
  margin-right: 100px;
  margin-left: 100px;
}
.left {
  background-image: url("./img/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  width: 500px;
  height: 100%;

  background-repeat: no-repeat;
}
.left .logo {
  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 15px;
}
.right {
  flex-grow: 1;
  margin-top: 50px;
  margin-left: 10px;
}
.right span {
  font-style: italic;
}

.right .header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 700px;
  margin-bottom: 30px;
}
.right .sec {
  margin-bottom: 10px;
}
.form {
  background-color: #ffff;
  max-width: 700px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.form .title {
  position: relative;
}
.form .title::before {
  content: "";
  position: absolute;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form .user-details .inputbox {
  width: calc(100% / 2 - 20px);
  margin: 20px 0 12px 0;
}
.user-details .userinput .details {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}
.form-control {
  height: 30px;
  width: 100%;
  outline: none;
  border-radius: 1rem;
}
#button {
  background-color: #596d48;
  width: 20%;
  outline: none;
  color: #fff;
  height: 40px;
  border-radius: 1rem;
  border: none;
  margin-left: 10px;
  margin-top: 10px;
}
